@import "variables.css";


.cursos {
  margin: 6rem auto;
  text-align: center;
}
.cursos h2 {
  margin-bottom: 2rem;
}

.cursos-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cursos-article{
  max-width: 30%;
  margin: 2rem 1rem;
  padding: 2rem 2rem 4rem 2rem;
  background: var(--colors-background-2);
  border-radius: 0.4rem;
}


@media (max-width: 780px){
  
.cursos-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;

}
  .cursos-article{
    max-width: 92%;
  }
}

.cursos-article  h4{
  font-size: 2rem;
  padding: 1rem;
  
}

.cursos-article  p{
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

.p-java{
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.cursos-article iframe{
  margin: 0rem 0 4rem 0;
  border: 2px solid #E891FF;
}

.cursos-article  a{
  margin: 2rem  !important;
  padding-bottom: 2rem;
}

.cursos-article a.link {
  text-decoration: none !important;
  background: linear-gradient(113.28deg, #E891FF -0.53%, rgba(134, 172, 250, 0.47) 101.56%);
  border-radius: 0.4rem;
  color: var(--cor-padrão);
  padding: 1rem;
  margin-bottom: 1rem;
}